{
    "services": [
        {
            "name": "FCSMService1",
            "exe": "fcsm.exe",
            "flags": "-c fcsm.cnf",
            "description": "FCSMService1"
        },
        {
            "name": "FCSMService2",
            "exe": "fcsm.exe",
            "flags": "-c fcsm.cnf",
            "description": "FCSMService2"
        }
    ]
}

